modules = ["nodejs-20", "web", "postgresql-16", "python-3.11", "python3"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["gcc-unwrapped", "libstdcxx5", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 34669
externalPort = 5000

[[ports]]
localPort = 37951
externalPort = 3002

[[ports]]
localPort = 40359
externalPort = 3003

[[ports]]
localPort = 41757
externalPort = 3000

[[ports]]
localPort = 44565
externalPort = 3001

[[ports]]
localPort = 55685
externalPort = 4200

[[ports]]
localPort = 56553
externalPort = 8000

[[ports]]
localPort = 56753
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
